<app-title [text]="'Konkat'"></app-title>
<section class="flex flex-col gap-4">
  <div class="flex flex-row gap-8">
    <div class="flex flex-col grow w-1/2">
      <app-label [labelFor]="'source'" [labelText]="'Source'"></app-label>
      <textarea
        [(ngModel)]="inputData"
        class="border border-slate-300 p-2 min-h-[300px] rounded-lg resize-none outline-none focus:border-2 focus:border-slate-500"
        name="source"
        autofocus
      ></textarea>
      <div class="flex justify-between px-2">
        <div class="flex gap-2 mt-4">
          <app-button buttonText="Espace" (click)="columnOnly()"></app-button>
          <app-button buttonText="Virgule" (click)="commasOnly()"></app-button>
          <app-button buttonText="Simple" (click)="simpleQuotes()"></app-button>
          <app-button buttonText="Double" (click)="doubleQuotes()"></app-button>
        </div>
        <div class="flex gap-2 mt-4">
          <app-button
            buttonText="Effacer"
            (click)="resetAllTextareas()"
          ></app-button>
        </div>
      </div>
    </div>

    <div class="flex flex-col grow w-1/2">
      <app-label [labelFor]="'dest1'" [labelText]="'Destination 1'"></app-label>
      <textarea
        [value]="outputData1"
        class="border border-slate-300 p-2 min-h-[300px] rounded-lg resize-none outline-none focus:border-2 focus:border-slate-500"
        name="dest1"
      ></textarea>
      <div class="text-right font-bold text-xl">
        <span> {{ numberOfValues }} </span>
      </div>
    </div>
  </div>

  <div>
    <div class="flex flex-col mt-6">
      <app-label [labelFor]="'dest2'" [labelText]="'Destination 2'"></app-label>
      <textarea
        [value]="outputData2"
        class="border border-slate-300 p-2 min-h-[300px] rounded-lg resize-none outline-none focus:border-2 focus:border-slate-500"
        name="dest2"
      ></textarea>
    </div>
  </div>
</section>
